body {
	font-family: sans-serif;
	background-color: #333;
	background-image: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/irongrip.png);
	background-size: auto;
	background-repeat: repeat repeat;
}
body a, body #test {
	color: #fff;
}

.unstyled {
	margin: 0;
	list-style: none;
}
.unstyled a, .unstyled #test {
	width: 150px;
	text-decoration: none;
	padding: .5em 1em;
	background-color: #555;
	border-bottom: 2px solid #333;
	display: block;
	margin-bottom: .5em;
}
.unstyled a:hover, .unstyled #test:hover {
	background-color: #777;
	border-color: #777;
}

.cf, .alert {
	*zoom: 1;
}
.cf:before, .alert:before, .cf:after, .alert:after {
	display: table;
	content: "";
	line-height: 0;
}
.cf:after, .alert:after {
	clear: both;
}

#alerts {
	width: 400px;
	top: 12px;
	right: 50px;
	position: fixed;
	z-index: 9999;
	list-style: none;
}

.alert {
	width: 100%;
	margin-bottom: 8px;
	display: block;
	position: relative;
	border-left: 4px solid;
	right: -50px;
	opacity: 0;
	line-height: 1;
	padding: 0;
	transition: right 400ms, opacity 400ms, line-height 300ms 100ms, padding 300ms 100ms;
	display: table;
}

.alert:hover {
	cursor: pointer;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.open {
	right: 0;
	opacity: 1;
	line-height: 2;
	padding: 10px 15px;
	transition: line-height 200ms, padding 200ms, right 350ms 200ms, opacity 350ms 200ms;
}

.alert-title {
	font-weight: bold;
}

.alert-block {
	width: 80%;
	width: -webkit-calc(100% - 60px);
	width: calc(100% - 60px);
	text-align: left;
}
.alert-block em, .alert-block small {
	font-size: .75em;
	opacity: .75;
}

.alert i {
	font-size: 2em;
	width: 1.5em;
	max-height: 48px;
	top: 50%;
	margin-top: -12px;
	display: table-cell;
	vertical-align: middle;
}

.alert-success {
	color: #fff;
	border-color: #539753;
	background-color: #8fbf2f;
}

.alert-error {
	color: #fff;
	border-color: #7f0709;
	background-color: #bf074b;
}

.alert-info {
	color: #fff;
	border-color: #076d91;
	background-color: #3397db;
}

.alert-warning {
	color: #fff;
	border-color: #dd6137;
	background-color: #f7931d;
}
